.help-height {
  height: 100vh;
}
.overflow-hidden {
  overflow: hidden;
}
.icon-search {
  fill: none;
  stroke: orange;
  stroke-width: 2;
}
.pos-r {
  position: relative;
}
.dark-theme {
  display: none;
}
.main {
  padding: 2em 0;
}
.h-100 {
  height: 100%;
}
.pb-1 {
  padding-bottom: 1em;
}
.section {
  padding: 2em 0;
}
.section--pt {
  padding-top: 8em;
}
.section-title {
  margin-bottom: 1.2em;
  position: relative;
  text-transform: uppercase;
}
.section-header-subtitle {
  margin-top: 3.5em;
}
.section-title--center {
  text-align: center;
}
.section-header {
  margin-bottom: 3em;
}
.section-header .mini-logo {
  margin-top: 0.7rem;
}
.section-header-title {
  /* margin-bottom: 1.5em; */
  text-transform: uppercase;
}
.button {
  padding: 1.5em;
  width: 100%;
  text-align: center;
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: var(--secondary);
  border-radius: calc(3em);
  transition: background-color var(--delay) var(--function), color var(--delay) var(--function);
}
.button:hover {
  color: #fff;
  background-color: var(--accent);
}
.button::after,
.header__btn a::after {
  content: "";
  margin-left: 0.5em;
  width: 0.75rem;
  height: 0.75rem;
  display: inline-block;
  background: no-repeat center url("../public/images/arrow.svg");
  transition: width var(--delay) var(--function);
}
.button:hover::after {
  width: 0;
}

/* BUTTON LIGHT  */

.button-light {
  padding-right: 4em;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  font-weight: 600;
}
.button-light img {
  width: 2.6rem;
  position: absolute;
  top: -45%;
  right: 0rem;
  transition: opacity var(--delay) var(--function);
}
.button-light-img-hover {
  opacity: 0;
}
.button-light:hover .button-light-img {
  opacity: 0;
}
.button-light:hover .button-light-img-hover {
  opacity: 1;
}

/* LOGO */

.logo img {
  width: 185px;
}

/* MINI LOGO */

.mini-logo {
  font-size: 0.875rem;
  text-transform: uppercase;
}
.mini-logo::before {
  content: "";
  margin-right: 0.3em;
  width: 1.625rem;
  height: 1rem;
  position: relative;
  top: 0.15rem;
  display: inline-block;
  background: no-repeat url("../public/images/logo-mini.svg");
}

/* HEADER */

.header__row {
  padding: 1em 0;
}
.header__btn a {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 600;
  transition: color var(--delay) var(--function);
}
.header__btn {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.header__contacts {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 0.875rem;
}
.header__icons {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  column-gap: 1.5rem;
}
.header__icons img {
  width: 1.25rem;
}

/* HEADER MOBILE */

.header-mob {
  display: none;
}
.header-mob__row {
  padding: 1em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--secondary);
}
.header-mob__burger {
  padding: 0 0.2em;
}
.header-mob__search {
  margin-top: 1em;
}

/* SEARCH */

.input-search {
  padding: 0 0 0.2em 2em;
  width: 100%;
  border-bottom: 1px solid var(--secondary);
  background: no-repeat left url("/public/images/search.svg");
}

/* USER MENU */

.user-menu {
  position: relative;
}
.user-menu:hover > .user-menu__list {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
  visibility: visible;
}
.user-menu__list-mob,
.user-menu__list {
  padding: 2em 0;
  min-width: 20rem;
  position: absolute;
  z-index: 100;
  top: 1.6rem;
  left: 100%;
  background-color: #fff;
  border: 1px solid var(--accent-light);
  border-radius: var(--radius);
  opacity: 0;
  transform: translateX(-50%) translateY(2rem);
  transition: transform 0.2s var(--function), opacity 0.2s var(--function), visibility 0.2s var(--function);
  visibility: hidden;
}
.user-menu__list-mob {
  display: none;
}
.user-menu__list-mob ul,
.user-menu__list ul {
  padding: 0 2em;
}
.user-menu__item {
  margin-top: 1.5em;
  display: flex;
  align-items: center;
}
.user-menu__item:first-child {
  margin-top: 0;
}
.user-menu__item img {
  width: 1.25rem;
}
.user-menu__item a {
  margin-left: 0.8em;
}
.user-menu hr {
  margin: 1.5em 0;
  color: var(--accent-light);
}

/* NAV */

.nav {
  padding: 1.25em 0;
  background-color: var(--secondary);
  border-radius: 3em;
}
.nav ul {
  display: flex;
  justify-content: space-evenly;
  font-size: 0.875rem;
  color: var(--light-grey);
}

/* NAV MOBILE */

.nav-mob {
  padding: 2.5em 3em;
  width: calc(100% - 1rem);
  position: absolute;
  left: 0.5rem;
  z-index: 10;
  background-color: var(--light-grey);
  opacity: 0;
  border-radius: var(--radius);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1);
  transform: translateY(2rem);
  transition: transform 0.2s var(--function), opacity 0.2s var(--function), visibility 0.2s var(--function);
  visibility: hidden;
}
.nav-mob.visible {
  opacity: 1;
  transform: translateY(0.3rem);
  visibility: visible;
}
.nav-mob a,
.nav-mob__schedule {
  padding: 0.5em;
}
.nav-mob__accent {
  margin-bottom: 1em;
  padding-left: 1.25em;
  color: var(--accent);
}
.nav-mob__accent img {
  width: 1.25rem;
}
.nav-mob__icon {
  margin-left: 0.5em;
  display: flex;
  align-items: center;
}
.nav-mob__tel {
  margin: 0.8em 0 1.2em;
  font-size: 1.25rem;
}

/* FOOTER */

.footer {
  padding: 6em 0em 2em;
  font-size: 0.875rem;
  color: var(--light-grey);
  background-color: var(--secondary);
}
.footer .logo {
  margin-bottom: 2em;
}
.footer__btn {
  margin-top: 2em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.button-light--footer-btn {
  margin-top: 2em;
}
.footer__title {
  margin-bottom: 1.2em;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.footer__tel,
.footer__mail,
.footer__soc {
  margin-bottom: 1.2em;
}
.footer__soc a + a {
  margin-left: 1em;
}
.footer__soc img {
  width: 2.4rem;
  height: 2.4rem;
}
.footer__nav li + li {
  margin-top: 1.2em;
}
.footer hr {
  margin: 5em 0 2em;
  height: 1px;
  background: var(--light-grey);
}
.footer__copyright {
  text-align: center;
}

/* MODAL */

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  visibility: hidden;
}
.modal.visible {
  visibility: visible;
}
.modal__bg {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal__body {
  position: relative;
  opacity: 0;
  transform: translateY(2rem);
  transition: transform 0.2s var(--function), opacity 0.2s var(--function), visibility 0.2s var(--function);
  visibility: hidden;
}
.modal.visible .modal__body {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}
.modal__close {
  padding: 0.2em 0 0.3em;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  line-height: 0;
  cursor: pointer;
  transition: color var(--delay) var(--function);
}
.modal__close:hover {
  color: black;
}
.modal__certificate {
  border-radius: var(--radius);
  overflow: hidden;
}
.modal__certificate img {
  width: 100%;
  max-height: 90vh;
}

/* FIRST SCREEN */

.first-screen__title {
  margin-bottom: 0.8em;
}
.first-screen__title br {
  display: none;
}
.first-screen__subtitle {
  margin-bottom: 2em;
  font-size: 1.125rem;
}
.first-screen--button {
  max-width: 24rem;
}
.first-screen__img {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.first-screen__img img {
  max-width: 100%;
}
.first-screen__partners {
  margin-top: 2em;
  padding: 1.4em;
  border: 1px solid var(--accent);
  border-radius: var(--radius);
}
.first-screen__partners-title {
  margin-bottom: 1em;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
}
.first-screen__partners-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 1rem;
  column-gap: 1rem;
  flex-wrap: wrap;
}
.partners-img-mob {
  display: none;
}

/* PRODUCTS */

.products--popular {
  padding-top: 4em;
}
.products .swiper-slide {
  height: initial;
}
.products__title .mini-logo {
  position: absolute;
  top: 0.7rem;
  left: 0;
}
.products__item {
  padding: 1.25em;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--secondary);
  border-radius: var(--radius);
}
.products__item-header {
  padding: 1em;
  min-height: 22rem;
  display: flex;
  flex-direction: column;
  border-radius: var(--radius);
  background-color: var(--medium-grey);
}
.products__item-info {
  display: flex;
  justify-content: space-between;
}
.products__item-acces {
  display: flex;
  font-size: 0.875rem;
}
.products__item-icons {
  display: flex;
  column-gap: 1.5em;
  font-size: 0.875rem;
}
.products__item-icon-text img {
  position: relative;
  top: -0.1rem;
}
.products__item-icon-text span {
  margin-left: 0.4em;
}
.products__item-lock,
.products__item-icons {
  margin-top: -0.2em;
}
.products__item-lock {
  margin-right: 0.5em;
  width: 1.25rem;
  height: 1.25rem;
}
.products__item-picture {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.products__item-picture img {
  max-width: 18rem;
}
.products__item-footer-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.products__item-title {
  margin-top: 0.5em;
}
.products__item-price {
  margin-top: 1em;
}
.products__item-footer {
  margin-top: 0.8em;
  display: flex;
  column-gap: 0.625em;
}
.products__item-counter {
  padding: 0.5em;
  width: 9rem;
  font-size: 1.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--secondary);
  border-radius: 1.7em;
}

/* LABORATORY */

.laboratory__item + .laboratory__item {
  margin-top: 2em;
}
.laboratory__item-img-block {
  padding-left: 1.5em;
  position: relative;
  display: flex;
  justify-content: center;
}
.laboratory__item-number {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5rem;
}
.laboratory__item-picture-mob,
.laboratory__item-picture {
  width: 9rem;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--accent-light);
  border-radius: 50%;
}
.laboratory__item-picture-mob {
  display: none;
}
.laboratory__item-picture-mob img,
.laboratory__item-picture img {
  max-width: 5.5rem;
}
.laboratory__item-text {
  padding-bottom: 2em;
  border-bottom: 1px solid var(--accent-light);
}
.laboratory__item-title {
  margin-bottom: 1em;
}
.button-light--laboratory-item {
  margin-top: 2em;
}

/* EDUCATION */

.education__img-block {
  padding-right: 1em;
}
.education__img-block img {
  width: 100%;
  border-radius: var(--radius);
}
.education__text-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.education__text-wrapper .button {
  max-width: 22rem;
}
.education__btn {
  margin-top: 2em;
}

/* ADVANTAGES */

.advantages {
  overflow: hidden;
}
.advantages__gallery {
  display: flex;
  column-gap: 2.5rem;
  background: no-repeat url("/public/images/microbe.png");
  background-position: 45% 50%;
}
.advantages__gallery-col {
  max-width: 22.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
.advantages__item {
  padding: 0 3em;
  height: 14.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--secondary);
  border-radius: var(--radius);
}
.advantages__item--bg {
  background: no-repeat url("/public/images/advantages-item-bg.jpg");
  background-size: cover;
  border: none;
}
.advantages__item--reset {
  padding: 0;
  justify-content: start;
  border: none;
}
.advantages__item--text-flex-end {
  justify-content: flex-end;
}
.advantages__item--height {
  height: auto;
}
.advantages__item--hidden {
  overflow: hidden;
}
.advantages__item-title {
  margin-bottom: 0.2em;
  font-size: 3rem;
  font-weight: 600;
}
.advantages__item-subtitle {
  font-size: 1.25rem;
  font-weight: 500;
}
.advantages__gallery-col .button {
  margin-top: 1.5em;
  max-width: 22rem;
}
.advantages__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.advantages__gallery-mob {
  display: none;
}
.advantages__item-decor {
  position: absolute;
  top: -40%;
  left: 40%;
}

/* CERTIFICATE */

.certificate__item {
  padding: 0.625em;
  border: 1px solid var(--secondary);
  border-radius: var(--radius);
  cursor: pointer;
}
.certificate__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.625rem;
}

/* COMPANY */

.company {
  padding-bottom: 17em;
}
.company__logo {
  padding: 3.5em 3em 0 0;
}
.company__logo img {
  width: 100%;
}
.company__text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.company__img img {
  width: 100%;
}
.company__img img:nth-child(2) {
  display: none;
}
