/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
/* @media (max-width : 1399.98px) {

} */

/* lg <= Extra large (xl) */
@media (max-width: 1199.98px) {
  h1 {
    font-size: 2rem;
  }
  .advantages__gallery {
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 2rem;
  }
  .advantages__gallery-col {
    margin-bottom: 2em;
    max-width: initial;
    flex-direction: row;
    column-gap: 2rem;
    justify-content: space-between;
  }
  .advantages__item-title {
    line-height: 1;
  }
  .advantages__gallery-col:last-child {
    margin-bottom: 0;
  }
  .advantages__item {
    padding-right: 1em;
    width: 33%;
    height: initial;
    min-height: 14.4rem;
  }
  .advantages__gallery-col:nth-child(2) .advantages__item:nth-child(3) .button {
    font-size: 0.7rem;
  }
  .advantages__item--reset {
    padding-right: 0;
    justify-content: center;
  }
  .advantages__item--text-flex-end {
    justify-content: center;
  }
}

/* md <= Large (lg) */
@media (max-width: 991.98px) {
  .header__row {
    display: none;
  }
  .user-menu__list {
    top: 2rem;
    transform: translateX(-85%) translateY(2rem);
  }
  .user-menu:hover > .user-menu__list {
    transform: translateX(-85%) translateY(0);
  }
  .nav {
    display: none;
  }
  .header-mob {
    display: block;
  }
  .first-screen__img {
    margin-top: 1em;
    justify-content: center;
  }
  .company__logo {
    margin-bottom: 1em;
    padding: 0;
  }
  .company__logo img {
    width: 50%;
  }
  .products__item-picture img {
    max-width: 16rem;
  }
}

/* sm <= Medium (md) */
@media (max-width: 767.98px) {
  h2 {
    font-size: 1.25rem;
  }
  .footer__title {
    margin-top: 1.5em;
  }
  .first-screen__partners-title {
    font-size: 1.125rem;
    text-transform: initial;
  }
  .mini-logo {
    margin-bottom: 0.8em;
    font-size: 0.75rem;
  }
  .products__title .mini-logo {
    position: initial;
    display: block;
  }
  .section--pt {
    padding-top: 2em;
  }
  .section-header {
    margin-bottom: 2em;
  }
  .section-title--center {
    text-align: left;
  }
  .section-header-title {
    margin-top: -1em;
  }
  .section-header-subtitle {
    margin-top: 2em;
  }
  .laboratory__item-title {
    font-size: 1.125rem;
    font-weight: 700;
  }
  .laboratory__item-img-block {
    padding-left: 0;
    justify-content: start;
  }
  .laboratory__item-number {
    position: static;
  }
  .laboratory__item-picture {
    display: none;
  }
  .laboratory__item-picture-mob {
    margin-bottom: 1em;
    display: flex;
  }
  .advantages__gallery-mob {
    display: block;
  }
  .advantages__gallery {
    display: none;
  }
  .advantages__item {
    margin-top: 1.25em;
    width: initial;
  }
  .advantages__item--reset {
    min-height: initial;
  }
  .advantages__item .button {
    margin-top: 1.4em;
  }
  .company__text .section-title {
    text-align: center;
  }
}

/* xs <= Small (sm) */
@media (max-width: 575.98px) {
  .main {
    padding: 0 0 2em;
  }
  .section {
    padding: 3em 0;
  }
  h1 {
    font-size: 1.8rem;
  }
  .header {
    background-color: var(--secondary);
  }
  .nav-mob {
    color: var(--light-grey);
    background-color: var(--secondary);
  }
  .header-mob .logo img {
    max-width: 7rem;
  }
  .header__icons {
    position: static;
    align-items: center;
  }
  .user-menu {
    position: static;
  }
  .user-menu__list {
    width: calc(100% - 1rem);
    top: 5rem;
    left: 0.5rem;
    display: block;
    color: var(--light-grey);
    background-color: var(--secondary);
    border: none;
    border-radius: var(--radius);
    transform: translateX(0) translateY(2rem);
  }
  .user-menu:hover > .user-menu__list {
    transform: translateX(0) translateY(0);
  }
  .icon--light {
    stroke: var(--light-grey);
  }
  .icon-user--light {
    fill: var(--light-grey);
  }
  .search {
    border-bottom-color: var(--light-grey);
  }
  .footer {
    padding: 4em 0em 2em;
  }
  .footer .logo {
    display: block;
    text-align: center;
  }
  .footer .logo img {
    width: 9rem;
  }
  .first-screen__title br {
    display: block;
  }
  .first-screen__partners-list {
    row-gap: 0;
    column-gap: 1.3rem;
  }
  .partners-img-desktop {
    display: none;
  }
  .partners-img-mob {
    display: block;
  }
  .education__text-wrapper {
    margin-top: 1em;
    height: initial;
  }
  .education__img-block {
    padding-right: 0;
  }
  .advantages__item {
    padding: 0 2em;
  }
  .advantages__item--reset {
    padding: 0;
  }
  .company__logo img {
    width: 100%;
  }
  .company__img img:nth-child(1) {
    display: none;
  }
  .company__img img:nth-child(2) {
    display: block;
  }
  .products__item {
    padding: 1em;
  }
  .products__item-lock-text {
    display: none;
  }
  .products__item-picture img {
    max-height: 10rem;
  }
  .products__item-header {
    min-height: 15rem;
  }
  .products__item-title {
    margin-top: 1em;
    font-size: 0.875rem;
  }
  .products__item-price {
    font-size: 0.875rem;
  }
}

/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width: 0) {
}
